.pokemon__container{
  @include flexColumn();
  transition:all .5s ease;
  &:hover{
    transform:scale(1.1);
  }
}
.pokemon__image--container{
  height: 170px;
  width: 200px;
  background: $colorGreyLight;
}
.pokemon__image{
  margin-top: 20px;
  height: 130px;
  width: 130px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
  background-color: inherit;
  border-width: 0;
  border-style: none;
	// overflow: hidden;
	// border-radius: 50%;

}
.pokemon__data{
  width: 200px;
  background: $colorWhite;
  @include flexColumn();
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.pokemon__title{
  @include flexRow();
  align-items: baseline;
  width: 100%;
}
.pokemon__number{
  font-size: 18px;
  color: $colorRed;
}
.pokemon__name::first-letter{
  text-transform: capitalize;
}
.pokemon__types--list{
  padding: 0 0 8px 0;
  list-style: none;
  @include flexRow();
  align-items: center;
  width: 150px;
}
.pokemon__type{
  background-color: $colorYellow;
  border: 1px solid $colorYellow;
  border-radius: 5px;
  padding: 5px;
  color: $colorWhite;
  &::first-letter{
    text-transform: capitalize;
  }
}
.bug{
  background: $bug;
  border: 1px solid $bug;
}
.dark{
  background: $dark;
  border: 1px solid $dark;
}
.dragon{
  background: $dragon;
  border: 1px solid $dragon;
}
.electric{
  background: $electric;
  border: 1px solid $electric;
}
.fairy{
  background: $fairy;
  border: 1px solid $fairy;
}
.flying{
  background: $flying;
  border: 1px solid $flying;
}
.ice{
  background: $ice;
  border: 1px solid $ice;
}
.fighting{
  background: $fighting;
  border: 1px solid $fighting;
}
.fire{
  background: $fire;
  border: 1px solid $fire;
}
.ghost{
  background: $ghost;
  border: 1px solid $ghost;
}
.grass{
  background: $grass;
  border: 1px solid $grass;
}
.ground{
  background: $ground;
  border: 1px solid $ground;
}
.normal{
  background: $normal;
  border: 1px solid $normal;
}
.poison{
  background: $poison;
  border: 1px solid $poison;
}
.psychic{
  background: $psychic;
  border: 1px solid $psychic;
}
.rock{
  background: $rock;
  border: 1px solid $rock;
}
.steel{
  background: $steel;
  border: 1px solid $steel;
}
.water{
  background: $water;
  border: 1px solid $water;
}

.pokemon__evolves{
  padding: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.pokemon-evolves-from{
  font-size: 13px;
  color: grey;
}
.evolves-from--value{
  font-weight: bold;
  color: green;
  &::first-letter{
    text-transform: capitalize;
  }
}
